
@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  background: #292655; 
  color: #e1f0fc;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11pt;
  line-height: 1.50; 
}

@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt; } }
@media screen and (max-width: 1280px) {
  body {
    font-size: 10pt; } }
@media screen and (max-width: 360px) {
  body {
    font-size: 9pt; } }

/*Fonts*/

h1 {
  font-weight: 600;
  font-size: 3.5em;
  color: #e9973a;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

@media screen and (max-width: 1680px) {
  h1 {
    font-size: 3.5em; } 
  }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3.25em; } 
  }

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em; } 
}

h2 {
  color: #ffb663;
  font-size: 1.3em;
  font-weight:400;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

@media screen and (max-width: 1680px) {
  h2 {
    font-size: 1.3em; } 
  }

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 1.25em; } 
  }

@media screen and (max-width: 736px) {
  h2 {
    font-size: 0.8em; } 
}

h3 {
  color: #ecf7fd;
  font-size: 1.2em;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1680px) {
  h3 {
    font-size: 1.2em; } 
  }

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1.1em; } 
  }

@media screen and (max-width: 736px) {
  h3 {
    font-size: 0.75em; } 
}

h4 { 
  color: #e9973a;
  font-size: 1.7em;
  font-weight:450;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1680px) {
  h4 {
    font-size: 1.7em; } 
  }

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 1.55em; } 
  }

@media screen and (max-width: 736px) {
  h4 {
    font-size: 0.9em; } 
}

/* My image an icons */
.myimage {
  border-radius: 1em;
  position: relative;
  top: -8em;
}

.myimage img {
  max-height: 500px;
  max-width: 500px;
}

@media screen and (max-width: 1024px) {
  .myimage{
    height: 10%;
  }
  .myimage img {
    max-height: 400px;
    max-width: 400px;
    left: 1.7cm;
  } 
}

@media screen and (max-width: 736px) {
  .myimage {
    height: 10%;
  }
  .myimage img {
    max-height: 300px;
    max-width: 300px;
    left: 1.7cm;
  }
}

.signatureIcon {
  position: relative;
}

.signatureIcon img {
  max-height: 4em;
  max-width: 4em;
  transition: transform 0.2s ease;
}

.signatureIcon:hover img {
  transform: scale(1.2);
}


.linkIcon {
  position: relative;
  left: 28cm;
  top: -0.34em;
}

.linkIcon img {
  max-height: 2.2em;
  max-width: 2.2em;
  transition: transform 0.2s ease;
}

.linkIcon:hover img {
  transform: scale(1.25);
}

@media screen and (max-width: 1024px) {
  .linkIcon {
    left: 17cm;
  }
  .linkIcon img {
    max-height: 1.9em;
    max-width: 1.9em;
  }
}

@media screen and (max-width: 768px) {
  .linkIcon {
    left: 11cm;
  }
  .linkIcon img {
    max-height: 1.9em;
    max-width: 1.9em;
  }
}

@media screen and (max-width: 736px) {
  .linkIcon {
    left: 2.3cm; 
  } 
  .linkIcon img {
    max-height: 1.4em;
    max-width: 1.4em;
  }
}


@media screen and (max-width: 400px) {
  .linkIcon {
    left: 1.5cm; 
  } 
  .linkIcon img {
    max-height: 1.4em;
    max-width: 1.4em;
  }
}

@media screen and (max-width: 280px) {
  .linkIcon {
    left: 0cm; 
  } 
  .linkIcon img {
    max-height: 0.8em;
    max-width: 0.8em;
  }
}


.top {
  display: inline-block;
}

/* Actions */
ul.actions {
  display: flex;
  list-style: none;
  margin-inline-start: -1em;
  padding-left: 0; }

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle; }

/* Button */
.button {
  text-decoration: solid; 
  text-align: center;
  display:grid;
  line-height: 3em;
  border-radius: 0.4em;
  box-shadow: inset 0 0 0 2px #22c7c4;
  font-size: 9.5pt;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  background-color: #22c7c4;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 2em;}

.button:hover {
  background-color:#3d4449; 
}


@media screen and (max-width: 1680px) {
  .button {
    line-height: 3em;
    border-radius: 0.4em;
    font-size: 9.5pt;
    font-weight: 600;
  } 
}

@media screen and (max-width: 1024px) {
  .button {
    line-height: 2.2em;
    border-radius: 0.33em;
    font-size: 7pt;
    font-weight: 400;
  } 
}

@media screen and (max-width: 736px) {
  .button {
    line-height: 1.8em;
    border-radius: 0.28em;
    font-size: 6pt;
    font-weight: 350;
  }
}

/* Skills */

.icon {
  margin: 0 2em 0 0;
  top: 1em;
  position: relative;
  z-index: 1;
}

.icon img {
  max-height: 8em;
  max-width: 8em;
  transition: transform 0.2s ease;
}

.icon:hover img {
  transform: scale(1.2);
}

.contentSkills {
  position: relative;
  top: -7em;
  left: 10em;
 }

@media screen and (max-width: 980px) {
  .icon {
    left: -0.4cm;
  }
  .icon img {
    max-width: 6em;
    max-height: 6em;
  }
  .contentSkills {
    position: relative;
    top: -6em;
    left: 8em;
  }
}
@media screen and (max-width: 480px) {
  .icon {
    left: -0.4cm;
  }
  .icon img {
    max-width: 4.5em;
    max-height: 4.5em;
  }
  .contentSkills {
    position: relative;
    top: -4em;
    left: 6em;
  }
}

/* Projects */

.projimage {
  max-width: 700px;
  max-height: 350px;
  display: inline-block;
  position: relative; }

.projimage img {
  display: block; }

/*Image animation*/
  
a.projimage {
  overflow: hidden; }

a.projimage img {
  transition: transform 0.2s ease; }

a.projimage:hover img {
  transform: scale(1.1); }

.PRO {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em -6em; }

.PRO proj {
  margin: 0 0 6em 6em;
  position: relative; 
  width: calc(50% - 6em);}

.PRO proj .projimage {
  margin: 0 0 2em 0; }

.PRO proj .projimage img {
  border-radius: 0cm;
  width: 100%; }

        
/* Main */
#main {
  width: 100%; }
#main > .inner {
  padding: 0 5em 0.1em 5em ; }
#main > .inner > section {
  padding: 6em 0 4em 0 ;
  border-top: solid 3px rgba(210, 215, 217, 0.75); }
#main > .inner > section:first-of-type {
  border-top: 0; 
  padding: 6em 0 3em 0 ;}

/* Header */
 #HEADER {
  border-bottom: solid 5px #22c7c4;
  padding: 6em 0 1em 0;
  position: relative; 
  padding-top: 6.5em;}


/* Banner */
#banner {
  padding: 6em 0 4em 0 ;
  display: flex; }
#banner h1 {
  margin-top: -0.125em; }

@media screen and (orientation: portrait) {
  #banner {
    flex-direction: column-reverse; }}


/*progress bar*/

.PB {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0;
  width: 100%; 
  left: 0cm;
  z-index: 2;
}

.progress-bar {
  height: 4px;
  background: #e1f0fc;
  width: 0%;
}

